<div class="col-md-12 form-horizontal ">

	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-4 col-xs-4 control-label text-right">Name
				~ list values PRODUCT_LINE code</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.product_line_code"
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4 control-label">Product_line_desc</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.product_line_desc "
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4 control-label">Master product
				line</label>
			<div class="col-xs-6">
				<input type="text"
					ng-model="configData.appInfo.master_product_line "
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4 control-label">Application
				name</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.application_name "
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4 control-label">Type code</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.type_code "
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4 control-label">Platform type</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.platform_type "
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4 control-label">Strip dash</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.strip_dash"
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4 control-label" >Sid</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.sid" ng-disabled=true
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4 control-label">Allow any</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.allow_any"
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4 control-label">Required apps</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.required_apps "
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4 control-label">Not Compatible
				apps</label>
			<div class="col-xs-6">
				<input type="text"
					ng-model="configData.appInfo.not_compatible_apps "
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4  control-label">WebLMByPass</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.webLMByPass "
					class="form-control">
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-4 col-xs-4  control-label">PLDS release</label>
			<div class="col-xs-6">
				<input type="text" ng-model="configData.appInfo.pld_release "
					class="form-control">
			</div>
		</div>

	</form>

</div>