<div class="col-md-12 form-horizontal ">

	<form clas="form-horizontal">
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label text-right">File Name</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.file_name" class="form-control">
				</div>
			</div>
			 <div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">RFA Platform type and filename</label>
				<div class="col-xs-6">
				<input type="text" ng-model="configData.productInfo.rfaplatformType_and_file_name" class="form-control">
				</div>
			</div>
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Counted License timeout</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.countedLicenseTimeout" class="form-control">
				</div>
			</div>
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Allocation License Duration</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.allocationLicenseDuration2 " class="form-control">
				</div>
			</div>
			
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Node Locked</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.nodeLocked" class="form-control">
				</div>
			</div>
			
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">RFA First Application</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.rfafirstApplication" class="form-control">
				</div>
			</div>
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">RFA Error Prefix</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.rfaerrorPrefix" class="form-control">
				</div>
			</div>
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Name</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.name" class="form-control">
				</div>
			</div>
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">DisplayName ISV property1</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.displayName_ISV_property1" class="form-control">
				</div>
			</div>
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Default UniqueId</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.defaultUniqueId" class="form-control">
				</div>
			</div>
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Product Name</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.productName" class="form-control">
				</div>
			</div>
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Production Version</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.productVersion" class="form-control">
				</div>
			</div>
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Feature Validation</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.featureValidation" class="form-control">
				</div>
			</div> 
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">AddWarningMessages</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.addWarningMessages" class="form-control">
				</div>
			</div> 
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">RFA Application</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.rfaApplication" class="form-control">
				</div>
			</div> 
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Allocation License Duration2</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.allocationLicenseDuration2" class="form-control">
				</div>
			</div> 
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Generate LAR</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.generateLAR" class="form-control">
				</div>
			</div> 
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">isMultiApp</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.isMultiApp" class="form-control">
				</div>
			</div> 
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Include Certificates</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.includeCertificates" class="form-control">
				</div>
			</div> 
			<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Product Default Password</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.productDefaultPassword" class="form-control">
				</div>
			</div>
				<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Product Default Algorithm</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.productDefaultAlgorithm" class="form-control">
				</div>
			</div> 
				<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">Name 2</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.name2" class="form-control">
				</div>
			</div> 
				<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">DisplayName3</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.displayName3" class="form-control">
				</div>
			</div> 
				<div class="form-group ">
				<label class="col-xs-4 col-sm-4 control-label">PLDS release</label>
				<div class="col-xs-6">
					<input type="text" ng-model="configData.productInfo.pld_release" class="form-control">
				</div>
			</div>  
	</form>
</div>